# Vivado generated directories
*.cache/
*.gen/
*.runs/
*.sim/
.Xil/

# Vivado logs
*.jou
*.log
*.str

# Vivado checkpoints
*.dcp

# Bitstream
*.bit
*.bin
*.xsa
*.tcl

# Temporary
*.tmp
*.backup
*~

# OS
.DS_Store
Thumbs.db

mem_out*/